.noImage {
    color: red;
}
.cardHeader {
    color: green;
    font-size: x-large;
    text-align: center;
}
.price{
    color : blue;
}
.editBtn{
    color: black;
    background-color: white;
    font-weight: bold;
}
.currentPrice{
    color: red;
    background-color: bisque;
    font-size: small;
    padding: 2px;
    font-weight: bold;
}

.discountSuccess {
    color: green;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.discountError {
    color: red;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.discountBtn{
    text-align: right;
}