.noImage {
    color: red;
}
.cardHeader {
    color: green;
    font-size: x-large;
    text-align: center;
}
.price{
    color : blue;
}
.editBtn{
    color: black;
    background-color: white;
    font-weight: bold;
}