.productPanel {
    padding: 10px;
    background-color: lightgoldenrodyellow;
    color: palevioletred;
    text-align: left;
    overflow-y: scroll;
    height: 375px;
    margin-bottom: 50px;
}

.productBtn {
    height:150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    color: blue;
    background-color: lightyellow;
    margin: 5px;
    padding: 10px;
    border: 2px solid rgb(180, 131, 131);
}

.currentPrice{
    color: red;
    font-weight: bold;
    margin-top: 2px;
    font-size: medium;
    font-style: italic;
}

.selectedProduct {
    height:150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    color: blue;
    background-color: lightyellow;
    padding: 10px;
    border: 3px dotted blue;
    margin: 10px;
}