.textReportBtn{
    text-align: center;
}

.textReportHeader {
    border: 3;
    border-color: rgb(142, 224, 18);
    border-style: dotted;
    padding-top: 10px;
    padding-bottom: 10px;
    color: blue;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.productInfo{
    color: red;
    font-size: large;
    font-weight: bold;
    padding-top: 10px;
}