.displayCurrentPriceInTable {
    color: red;
    font-size: medium;
    font-weight: bold;
}

.noImage{
    color: red;
}

.viewBtn {
    font-size: small;
    color: black;
    background-color: white;
    font-weight: bold;
}