.billContainer {
    margin: 15px;
}
.billSummary {
    color: red;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
}

.billSubContainer{
    height: 215px;
    overflow-y: scroll;
}

.cartContainer {
    border: 2px solid red;
    border-radius: 20px;
    padding: 15px;
}

.cartPanel {
    padding: 5px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.amountToPay {
    color: red;
    font-size: medium;
    font-weight: bold;
}