.navBar {
    background-color: lightgreen;
    color: black;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 20px;
}

.adminRole {
    color : red;
}
.managerRole{
    color : blue;
}
.shopperRole { 
    color : white;
}