.mainContainer {
    padding: 15px;
}

.cardHeader{
    color: green;
    font-size: x-large;
}
.registerSuccess {
    color: green;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.registerError {
    color: red;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modelError {
    color: red;
    font-size: medium;
    font-weight: bold;
    margin-top: 5px;
    text-align: left;
}

.errorDisplay {
    text-align: left;
}