.noImage {
    color: red;
}

.cardHeader {
    color: green;
    font-size: x-large;
    text-align: center;
}

.price {
    color: blue;
}

.nowPrice {
    color: red;
    background-color: bisque;
    font-size: medium;
    padding: 3px;
    font-weight: bold;
    font-style: italic;
}

.card-body{
    text-align: left;
}

.addCartBtn{
    position: absolute;
    right:    0;
    bottom:   0;
    text-align: left;
    padding-bottom: 20px;
}
.qty{
    text-align: right;
}
