.mainContainer {
    padding: 15px;
}
.cardHeader {
    color: chocolate;
    font-size: x-large;
}

.tableHeader{
    color: blue;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    margin-bottom: 10px;
}
.data {
    font-size: medium;
    text-align: left;
    background-color: lightgoldenrodyellow;
    padding-top: 10px;
}
.rowStyle{
    margin: 10px;   
}

.content {
    text-align: left;
    padding-left: 20px;
}