.mainContainer {
    padding: 15px;
}
.cardHeader {
    color: green;
    font-size: x-large;
}

.tableHeader{
    color: green;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    margin-bottom: 10px;
}
.data {
    font-size: medium;
    text-align: left;
    background-color: lightgoldenrodyellow;
    padding-top: 10px;
}
.rowStyle{
    margin: 10px;   
}

.content {
    text-align: left;
    padding-left: 20px;
}

.filter{
    text-align: left;
    margin: 10px;
}

.filterControls{
    text-align: left;
}

.filterBtn{
    color : white;
    font-size: small;
    background-color: green;
}

.navBtn{
    color: white;
    font-size: small;
    background-color: lightseagreen;
    font-weight: bold;
}

.noData{
    color: red;
    font-size: x-large;
    font-weight: bold;
}