.mainContainer {
    padding: 15px;
}

.payByBtn{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    color: blue;
    background-color: lightgoldenrodyellow;
}
.payMethodContainer{
    margin: 20px;
    background-color: lightgoldenrodyellow;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    border: 2px solid blue;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
}