.wrongReportType {
    color: rgb(201, 18, 18);
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
}

.noData {
    color: rgb(201, 18, 18);
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
}